@import domain.Member
@(shire: String, providerId: String, target: String, members: Seq[Member])(implicit context: RequestContext)

@main("Handle Service") {
    <p><samp>@providerId</samp> wants to perform authentication!</p>
    <p>The assertion consumer service URL for this application is <samp>@shire</samp>. </p>
    <p>The redirect URL is <samp>@target</samp></p>

    <form action="" method="post">
        @context.csrfHelper.formField
        <div class="form-group">
            <label for="who">
                Who do you want to be?            </label>
            <select id="who" name="uid" class="form-control">
                @for(grp <- members.groupBy(m => m.department.name).toSeq.sortBy((a) => a._1)) {
                    <optgroup label="@grp._1">
                    @for(member <- grp._2) {
                        <option value="@member.universityId">@member.givenName @member.familyName, @member.universityId, @member.warwickTargetGroup</option>
                    }
                    </optgroup>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">POST to the ACS</button>
    </form>
}